.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 23px 12px 23px;
  border: 0px;
  outline: none;
  background-color: #115DD3;
}

.menu-icon {
  height: 24px;
  width: 24px;
}

.menu-item:hover {
  background-color: #0151cd;
}
.menu-item.active{
  border-left: 3px solid #ff7f08;
  background-color: #0151cd;
}

.menu-item-title {
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  min-width: 150px;

}
