.menu-container{
    height: 100%;
    width: 100%;
    background-color: #115DD3;
    border-top-right-radius: 35px;
    padding: 35px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    transition: 2s;
    overflow-x: hidden;
}

.menu-container.active{
    width: 220px;
}

.menu-header{
    flex: 1;
}
.menu-footer{
    margin-bottom: 30px;
}
#largeMenu{
    display: none;
}