.searchbar-container {
  height: 36px;
  border-radius: 8px;
  border: 1px solid #e6e8eb;
  margin: 10px;
  display: flex;
  align-items: center;
}
.search-icon {
  height: 24px;
  width: 24px;
  margin: 0px 10px 0px 10px;
}

.input-search {
  font-size: 14px;
  outline: none;
  border: none;
  flex: 1;
  margin-right: 10px;
}
