.container{
  width: 100%;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}
.body-container{
  flex: 1;
  display: flex;
  border: 1px solid #E6E8EB;
  flex-direction: row;
  
}
.body-column-1{
  height: 100%;
  width: 70px;
}

.body-column-2{
  height: 100%;
  flex: 5;
  border-left: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.body-column-3{
  height: 100%;
  flex: 20;
  border: 1px solid #E6E8EB;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.boxchat-header{
  width: 100%;
  height: 60px; 
  border: 1px solid #E6E8EB;
  border-top: none;
}
.boxchat-input-message{
  width: 100%;
  height: 60px;
  border: 1px solid #E6E8EB;
  position: fixed;
  bottom: 0px;
}
.boxchat-body{
  flex: 1;
  width: 100%;
  border: 1px solid #E6E8EB;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}


/* scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* place holder */
::placeholder{
  color: #B3B8C2;
}
ul{
  padding: 0px;
  margin: 0px;
}
li{
  list-style-type: none;
  padding: none;
  margin: 0px;

}